*{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#boton, #boton2,#apareceado,#aprobado,#devolvercaracteres,#XYZ,#DAW,#Mayusculas,
#minusculas,#palabra,#frases,#nombres{
    width: 50px;
    height: 50px;
    background-color: red;
    margin-top: 20px;
}
h1{
    margin-top: 30px;
    margin-bottom: 20px;

}
#frase1{
    margin-bottom: 20px;
}
