.nav-item{
    float: right;
    margin-left: 25px;
}
.nav nav-pills{
    width: 100%;
    float: right;
}
.nav-link{
    color: #efefef;
    font-weight: bold;
    float: right;
}
.nav-link:hover{
    color: #efefef;
    background-color: #0A3143;
}